.row {
  margin: 0 auto;
}

.fullscreen {
  padding: 0 !important;
  margin: 0 !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-deep {
  padding-bottom: 3em;
  padding-top: 2.5em;
}

.slides {
  overflow: hidden;
}

.navbar-nav {
  float: none;
  margin-bottom: 0;
  margin-top: 0;
  background: #ffffff;
  border-bottom: none;
}

.nav li a {
  display: block;
  color: #535454;
  padding: 0.95em 1.1em;
  text-decoration: none;
}

.nav li a:hover {
  color: #dd1e25;
  margin-bottom: 0;
  border-bottom: 1px dashed #dd1e25;
  text-decoration: none;
  background-color: #e5e5e7;
}

.nav li a.active {
  color: #1c2f55
}

.navbar-nav>li>a {
  border-top: 4px solid transparent;
  border-bottom: none;
}

.navbar-nav>li>a:hover {
  border-top: 4px solid #dd1e25;
  border-bottom: none;
}
